{% extends "main/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
	<section>
        <div class="container mt-5 border border-danger p-3">
          <!-- Page Header-->
          <header> 
            <ol class="breadcrumb mb-1 mt-1">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Varanda</a></li>
              <li class="breadcrumb-item active" aria-current="page">Lista Utilizador</li>
            </ol>
          </header>
                    {% if messages %}
                        {% for message in messages %} 
                            <div id="divmessage" class="alert alert-{{ message.tags }} alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                              {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
          {% if page == "userlist" %}
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header d-flex justify-content-between text-center">
                  <div>
                    {{title}}
                  </div>
                  <div class="d-flex justify-content-between">
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="dataTable"  class="table table-hover table-striped">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Username</th>
                          <th>Email</th>
                          <th>User Status</th>
                          <th>User Group</th>
                          <th>Date Created</th>
                          <th>Password</th>
                          <th>Asaun</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for data in userlist %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ data.username }}</td>
                          <td>{{ data.email }}</td>
                          <td>{% if data.is_active %}<span class="badge badge-secondary">Ativu</span><a title="Desativa Utilizador" href="{% url 'desativuUser' data.id %}"><span class="ml-2 badge bg-danger text-white"> x </span></a>{% else %}<span class="badge badge-warning">La Ativu</span> <a title="Ativa Utilizador" href="{% url 'ativuUser' data.id %}"><span class="ml-2 badge bg-primary text-white">&#10003;</span></a>{% endif %}</td>
                          <td>{% for group in data.groups.all %}{{ group }}{% endfor %}</td>
                          <td>{{ data.date_joined }}</td>
                          <td><a href="{% url 'resetUserPassword' data.id %}"><span class="badge badge-secondary">Reset</span></a></td>
                          <td> <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{ data.id }}" style="text-decoration: none"><i class="fa fa-trash"></i></button></td>

                          <div class="modal fade" id="delete-{{ data.id}}"><!-- modal -->
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Delete User</h4>
                                  <button type="button" class="close" data-dismiss="modal">X</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                  Ita Boot hakarak hamoos Utilizador ho username {{ data.username | upper }}?
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                  <a href="{% url 'deleteUser' data.id %}" class="btn btn-info">Yes</a>
                                </div>
                              </div>
                            </div>
                        </div><!-- endmodal -->
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5 mb-3">
            <div class="col-lg-3 text-center">
              <div class="card">
                <div class="card-header">
                  Dadus Munis&iacute;piu
                </div>
                <div class="card-body d-flex justify-content-center">
                  <div class="mr-3">
                    <a href="{% url 'listaMunisipiu' %}" class="btn btn-sm btn-warning"><i class="fa fa-cogs"></i> Maneja</a>
                  </div>
                  <div>
                    <a href="{% url 'addMunisipiu' %}" class="btn btn-sm btn-info"><i class="fa fa-plus-square"></i> Adsisiona</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card">
                <div class="card-header">
                  Dadus Postu Administrativu
                </div>
                <div class="card-body d-flex justify-content-center">
                  <div class="mr-3">
                    <a href="{% url 'listaPostu' %}" class="btn btn-sm btn-warning"><i class="fa fa-cogs"></i> Maneja</a>
                  </div>
                  <div>
                    <a href="{% url 'addPostu' %}" class="btn btn-sm btn-info"><i class="fa fa-plus-square"></i> Adsisiona</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card">
                <div class="card-header">
                  Dadus Suku
                </div>
                <div class="card-body d-flex justify-content-center">
                  <div class="mr-3">
                    <a href="{% url 'listaSuku' %}" class="btn btn-sm btn-warning"><i class="fa fa-cogs"></i> Maneja</a>
                  </div>
                  <div>
                    <a href="{% url 'addSuku' %}" class="btn btn-sm btn-info"><i class="fa fa-plus-square"></i> Adsisiona</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 text-center">
              <div class="card">
                <div class="card-header">
                  Dadus Aldeia
                </div>
                <div class="card-body d-flex justify-content-center">
                  <div class="mr-3">
                    <a href="{% url 'listaAldeia' %}" class="btn btn-sm btn-warning"><i class="fa fa-cogs"></i> Maneja</a>
                  </div>
                  <div>
                    <a href="{% url 'addAldeia' %}" class="btn btn-sm btn-info"><i class="fa fa-plus-square"></i> Adsisiona</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {%endif%}
          {% if page == "form" %}
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                    <h2><p>Formulariu Rejistu User</p></h2>
                      {% csrf_token %}
                  <form method="POST" id="locationForm" data-posts-url="{% url 'home' %}" data-villages-url="{% url 'home' %}" novalidate>{% crispy form %}</form>
          </div>
        </div>
      </div>
    </div>
          {%endif%}
        </div>
      </section>
<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
<script>
  $("#id_municipality").change(function () {
    var url = $("#locationForm").attr("data-posts-url");
    var municipalityId = $(this).val();
    $.ajax({
      url: url,
      data: {
        'municipality': municipalityId
      },
      success: function (data) {
        $("#id_administrativepost").html(data);
      }
    });

  });
  // this one is for fetching village data
  $("#id_administrativepost").change(function () {
    var url = $("#locationForm").attr("data-villages-url");
    var postId = $(this).val();

    $.ajax({
      url: url,
      data: {
        'post': postId
      },
      success: function (data) {
        $("#id_village").html(data);
      }
    });

  });
</script>
{% endblock %}