{% extends 'main/layout.html' %}

{% load static %}

{% block content %}



<section class="container">
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <ol class="breadcrumb mb-1 mt-1">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Varanda</a></li>
              <li class="breadcrumb-item"><a href="{% url 'konfigurasaun' %}">Konfigurasaun</a></li>
              {% if page == "form" %}
              <li class="breadcrumb-item"><a href="{% url 'listaSuku' %}">Lista Suku</a></li>
              {%endif%}
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
          </header>
                    {% if messages %}
                        {% for message in messages %} 
                            <div class="alert alert-{{ message.tags }} alert-dismissable">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                              {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}

          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header d-flex justify-content-end text-center">
                  <div class="text-center border">
                    <a href="{% url 'addSuku' %}" class="btn btn-sm btn-info" title="Add Data">Add <i class="fa fa-plus"></i></a>
                  </div>
                  <div class="text-center border">
                    <a href="{% url 'home' %}" target="_blank" class="btn btn-sm btn-info" title="Print Data">Print <i class="fa fa-print"></i></a>
                  </div>
                  <div class="text-center border">
                    <a href="{% url 'home' %}" class="btn btn-sm btn-info" title="Print Data">Csv <i class="fa fa-print"></i></a>
                  </div>
                  <div class="text-center border">
                    <a href="{% url 'home' %}" class="btn btn-sm btn-info" title="Print Data">xls <i class="fa fa-print"></i></a>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="example"  class="table table-hover table-striped w-100">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Suku</th>
                          <th>Postu</th>
                          <th>Munisipiu</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for data in suku %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ data.name}}</td>
                          <td>{{ data.administrativepost.name}}</td>
                          <td>{{ data.administrativepost.municipality.name}}</td>
                          <td><a href="{% url 'updateSuku' data.id %}" class="btn btn-sm btn-primary" title="Update"><i class="fa fa-pencil"></i></a> <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-{{ data.id }}" style="text-decoration: none"><i class="fa fa-remove"></i></button></td>

                          <div class="modal fade" id="delete-{{ data.id}}"><!-- modal -->
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                  <h4 class="modal-title">Delete Suku</h4>
                                  <button type="button" class="close" data-dismiss="modal">X</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                  Ita Boot hakarak hamoos Suku ho naran {{ data.naran_suku | upper }}?
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                  <a href="{% url 'deleteSuku' data.id %}" class="btn btn-info">Yes</a>
                                </div>
                              </div>
                            </div>
                        </div><!-- endmodal -->

                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready( function () {
        var table = $('#example').removeAttr('width').DataTable( {
            
        });
    } );
</script>
{% endblock %}