
<div class="modal fade" id="aprova-{{ objects.id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h4 class="modal-title">Konfirmasaun Aprova Dadus Implementasaun</h4>
        <button type="button" class="close" data-dismiss="modal">X</button>
      </div>
      
        {% csrf_token %}
      <div class="modal-body">
        Ita Boot hakarak Aprova Dadus Implementasaun ba benefisiariu {{ objects.benefisiariu.naran | upper }}?
      </div>
        <div class="text-center my-2">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Lae</button>
          <a href="{% url 'aprovaImplementasaun' objects.hashed %}" class="btn btn-info">Sim</a>
        </div>
    </div>
  </div>
</div>