{% extends "main/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <section>
        <div class="container mt-3 p-3">
            <header> 
                <ol class="breadcrumb mb-1 mt-1">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Varanda</a></li>
                  {% if page == "form" %}
                  <li class="breadcrumb-item"><a href="{% url 'ukl-dash' %}">Dashboard UKL</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'DetailSurveyUKL' objects.hashed %}">Detallu Survey</a></li>
                  {% endif %}
                  <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                </ol>
            </header>
            {% if messages %}
                {% for message in messages %} 
                    <div class="alert alert-{{ message.tags }} alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      {{message}}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="card shadow-lg pt-1 rounded" style="border-top: 3px solid #bb0303;">
                        <div class="card-header">{{ legend|upper }}</div>
                        <div class="card-body">
                          <div class="d-flex justify-content-begin border">
                            <div class="ml-3 table-responsive">
                              <table border="0" cellpadding="7">
                                <tr><th>Munisipiu </th><td>: {{objects.municipality}}</td><th>Observasaun</th></tr>
                                <tr><th>Postu </th><td>: {{objects.administrativepost}}</td><td rowspan="5">{{objects.description|safe}}</td></tr>
                                <tr><th>Suku </th><td>: {{objects.village}}</td></tr>
                                <tr><th>Aldeia </th><td>: {{objects.aldeia}}</td></tr>
                                <tr><th>Data Survey </th><td>: {{objects.surveyDate}}</td></tr>
                              </table>
                            </div>
                          </div>
                          <br>
                          <hr>
                          <h5 class="my-3 text-center">----------------------------Formulariu----------------------------</h5>
                                {% csrf_token %}
                                {% crispy form %}
                        </div> <!--end card-body-->
                    </div> <!--end card-->
                </div> <!--end col-->
            </div> <!--end row-->
        </div>
    </section>
<script src="{% static 'main/js/jquery.min.js'%}"> </script>
<script type="text/javascript">
    
    $("#id_municipality").change(function () {
      var municipalityId = $(this).val();
      $.ajax({
        url: "{% url 'ajax_load_posts' %}",
        data: {
          'municipality': municipalityId
        },
        success: function (data) {
          $("#id_administrativepost").html(data);
        }

      });
    });
    $("#id_administrativepost").change(function () {
      var postId = $(this).val();
      $.ajax({
        url: "{% url 'ajax_load_villages' %}",
        data: {
          'post': postId
        },
        success: function (data) {
          $("#id_village").html(data);
        }
      });

    });
    $("#id_village").change(function () {
      var villageId = $(this).val();
      $.ajax({
        url: "{% url 'ajax_load_aldeia' %}",
        data: {
          'village': villageId
        },
        success: function (data) {
          $("#id_aldeia").html(data);
        }
      });

    });
    //load Imagen
    function myFunction() {
      var image = document.getElementById("output");
      image.src = URL.createObjectURL(event.target.files[0]);
    }
</script>
{% endblock %}
{% block scripts %}

{% endblock %}