{% load static %}
<header class="site-header">
	<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
		<a class="navbar-brand" href="{% url 'home' %}">
		<img src="{% static 'main/images/pnds.png' %}" alt="Logo" style="width:40px;"> PNDS-MS
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		{% if user.is_authenticated %}
			{% if user.groups.all.0.name == 'admin' %}
				{% include 'navbar/navbarAdmin.html' %}
			{% elif user.groups.all.0.name == 'dir_nac' %}
				{% include 'navbar/navbarDirNac.html' %}
			{% elif user.groups.all.0.name == 'dir_mun' %}
				{% include 'navbar/navbarDirMun.html' %}
			{% elif user.groups.all.0.name == 'admpost' %}
				{% include 'navbar/navbarFunPost.html' %}
			{% endif %}
		{% endif %}
	</nav>
</header>
<hr/>